body {
  background-color: #f9bfbb;
    display: flex;
    flex-direction: column;
    align-self: center;
    box-sizing: border-box; 
}

.body-title {
  box-sizing: border-box;
  text-align: center;
}

.parent {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  width: 1000px;
}

.buttonStyle {
    padding: 10px 30px;
    margin-bottom: 11px;
    border-radius: 10px;
    background-color: rgb(225, 228, 95);
    border: solid black;
    font-size: 20px;
    cursor: pointer;
}

.column1 {
  display:flex;
  flex-direction: column;
  max-width:70%;
  padding: 10px 20px;
  border-right: 3px solid black;
}

.column2 {
    
  padding: 10px 20px;
  width: 600px;
}

.item1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom:3px solid black;
}

h2 {
  font-size: 22px;
  padding: 0 25px;
  margin: 0;
  box-sizing : border-box;    
}

.person {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  font-size: 15pt;
}

.finalResult {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  border: 7px solid #d03a3a;
  background-color: peachpuff;
  font-size: 20pt;
  border-radius: 30px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
